# Exploring Pitchfork Reviews

## Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import sqlite3
import datetime
import seaborn as sns
sns.set_style('whitegrid')

# Load data

In [11]:
conn = sqlite3.connect('../database.sqlite')
c = conn.cursor()

![schema](images/pitchfork_reviews2.png)

In [14]:
q = '''
SELECT 
    reviewid, 
    g.genre, 
    a.artist, 
    y.year, 
    l.label,
    r.title, 
    r.score 
FROM genres AS g
JOIN artists AS a
    USING (reviewid)
JOIN years AS y
    USING (reviewid)
JOIN labels AS l
    USING (reviewid)
JOIN reviews AS r
    USING (reviewid)
;
'''

df = pd.read_sql(q, conn)

In [15]:
df

,reviewid,genre,artist,year,label,title,score
0,22703,electronic,massive attack,1998.0,virgin,mezzanine,9.3
1,22721,metal,krallice,2016.0,hathenter,prelapsarian,7.9
2,22659,rock,uranium club,2016.0,fashionable idiots,all of them naturals,7.3
3,22659,rock,uranium club,2016.0,static shock,all of them naturals,7.3
4,22661,rock,kleenex,2016.0,kill rock stars,first songs,9.0
...,...,...,...,...,...,...,...
26897,5376,rock,mojave 3,NaN,4ad,out of tune,6.3
26898,2413,rock,don caballero,1999.0,touch and go,"singles breaking up, vol. 1",7.2
26899,2413,metal,don caballero,1999.0,touch and go,"singles breaking up, vol. 1",7.2
26900,2413,experimental,don caballero,1999.0,touch and go,"singles breaking up, vol. 1",7.2
26901,3723,None,neil hamburger,NaN,drag city,left for dead in malaysia,6.5

In [17]:
df.to_csv('sql_data.csv', index= False)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26902 entries, 0 to 26901
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   reviewid  26902 non-null  int64
 1   genre     24184 non-null  object
 2   artist    26902 non-null  object
 3   year      26291 non-null  float64
 4   label     26857 non-null  object
 5   title     26902 non-null  object
 6   score     26902 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.4+ MB

In [21]:
df.genre.unique()

array(['electronic', 'metal', 'rock', None, 'rap', 'experimental',
       'pop/r&b', 'folk/country', 'jazz', 'global'], dtype=object)

In [22]:
df.artist.nunique()

8633

In [30]:
df.artist.value_counts().head(10)

various artists      834
xasthur               70
prince                42
xiu xiu               42
brian eno             40
saint etienne         40
animal collective     38
deerhoof              36
the beatles           35
the knife             34
Name: artist, dtype: int64

In [31]:
df.label.value_counts().head(10)

self-released    526
sub pop          347
thrill jockey    343
drag city        332
domino           293
merge            285
mute             264
columbia         259
warp             252
matador          239
Name: label, dtype: int64

In [32]:
df.genre.value_counts().head(10)

rock            11104
electronic       4484
experimental     2228
rap              1973
pop/r&b          1712
metal            1011
folk/country      802
jazz              561
global            309
Name: genre, dtype: int64

In [33]:
df.year.value_counts().head(10)

2006.0    1854
2007.0    1809
2010.0    1745
2011.0    1735
2005.0    1693
2008.0    1683
2012.0    1624
2016.0    1582
2013.0    1578
2009.0    1560
Name: year, dtype: int64

In [36]:
df.isna().sum()

reviewid       0
genre       2718
artist         0
year         611
label         45
title          0
score          0
dtype: int64

# Potential questions to answer:
Do review scores for individual artists generally improve over time, or go down?
How has Pitchfork's review genre selection changed over time?
Who are the most highly rated artists? The least highly rated artists?